<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trzewik.quizwirtualnapolska"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/wp_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wp_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.QuizListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.QuizQuestionActivity"
            android:label="@string/title_activity_quiz_question"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.QuizResultActivity" />
        <provider
            android:name="com.android.tools.ir.server.InstantRunContentProvider"
            android:authorities="com.trzewik.quizwirtualnapolska.com.android.tools.ir.server.InstantRunContentProvider"
            android:multiprocess="true" />
    </application>

</manifest>